/*Font Designer: Vernon Adams*/
/*https://fonts.google.com/specimen/Niconne*/
@import 'https://fonts.googleapis.com/css?family=Niconne';

#controls{
    display: inline-block;
    background: #333333;
    width: 20%;
    height: 775px;
    color: #eee;
    padding: 0 1em;
    text-align: left;
    box-shadow: 5px 5px 50px #000;
    border-radius: 0px 10px 10px 0;
}

.options {
    font-weight: bold;
    color: #ccffcc;
    margin: 0 auto;
    width: 95%
}

.options ul {
    padding: 0;
}

.options ul li{
    list-style: none;
    padding: .3em;
    border-bottom: 1px #333 solid;
    text-indent: 1em;
}

.options li:hover{
    cursor: pointer;
    background: #555;
    border-radius: 8pt;
    color: mediumpurple;
}

.labels{
    font-weight: bold;
    color: grey;
    display:flex;
    flex-direction: column;
    float: left;
    padding-left: 30px;
    padding-right: 15px;
}

.labels label{
    padding: 10px 0;
}

.effects section{
    display: flex;
}

.effects .sliders{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.slider {
    -webkit-appearance: none;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: #1c1c1c;
    outline: none;
    margin: 16px 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background: #ccffcc;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover{
    background-color: mediumpurple;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.selected{
    background: #555;
    border-radius: 8pt;
}

#title{
    padding-top: 20pt;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15pt;
    height: 60pt;
    text-align: center;
}

#magical{
    font-family: 'Niconne';
    font-size: 40pt;
    letter-spacing: 2px;
    margin-top: 5pt;
    margin-right: 0pt;
    text-indent: -70pt;
    font-weight: 100;
    color:#ffedf2;
}

#visual{
    text-indent: 140pt;
    margin-top: -63pt;
    font-size: 14pt;
    font-style: italic;
}

h4{
    margin-top: 10pt;
    margin-bottom: 0;
    padding-left: 5px;
}

footer{
    margin-top: 0pt;
    color: #555;
    font-size: 12pt;
    margin-top: 80pt;
}


@media screen and (max-width: 1540px){
    
    #controls{
        display: block;
        position: relative;
        margin: 0 auto;
        width: 625pt;
        height: 230pt;
        margin-bottom: 30px;
        padding: 0 50px;
        border-radius: 0 0 5px 5px;
    }
    
    #title{
        padding-top: 10pt;
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 0pt;
    }
    
    #magical{
        padding-top: 10pt;
        font-weight: 100;
    }
    
    #visual{
        margin-top: -65pt;
    }
    
    h4{
        margin-top: 15pt;
    }

    .options{
        text-align: left;
    }
    
    .options ul{
        width: 180px;
        display: flex;
        flex-direction: column;
    }
    
    .options ul li{
        padding: 5pt 10pt;
        display: inline;
        margin-right: 10pt;
        text-indent: 0;
        margin-bottom: 3pt;
    }
    
    .wrap, .inner_wrap{
        display: flex;
    }
    
    .effects{
        position: relative;
        width: 290pt;
    }
    
    .labels{
        padding-left: 5px;
    }
    
    .labels label{
        padding-top: 0;
        padding-bottom: 15pt;
    }
    
    .sliders{
        margin-right: 20pt;
    }
    
    .slider{
        margin-top: 5pt;
        margin-bottom: 19pt;
    }
    
    footer{
        margin-top: 50pt;
    }
}

@media screen and (max-width: 950px){
    #controls{
        padding: 0;
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 20pt;
    }
    
    .wrap, .inner_wrap{
        position: relative;
        margin: 0 auto;
        width: 95%;
    }
    
    #title{
        padding-left: 5pt;
    }
    
    #magical{
        font-size: 35pt;
    }
    
    #visual{
        text-indent: 120pt;
        padding-top: 8pt;
    }
    
    .songs, .modes, .effects{
        font-size: 10pt;
    }
    
    .songs,.modes{
        width: 160px;
    }
    
    .options ul{
        width: 150px;
    }

    .effects{
        width: 100%;
    }
    .slider{
        margin-bottom: 17pt;
    }
    
    footer{
        margin-top: 70pt;
    }
}

@media screen and (max-width: 675px){
    #controls{
        height: 390pt;
    }
    
    #title{
        margin-bottom: 0pt;   
    }
    
    .wrap{
        display: block;
    }
    
    footer{
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px){
    #controls{
        margin-bottom: 0pt;
        box-shadow: none;
        min-width: 360px;
        height: 500px;
    }
    
    #magical{
        padding-top: 5pt;
        font-size: 26pt;
    }
    
     #visual{
        font-size: 12pt;
        text-indent: 90pt;
        margin-top: -52pt;
    }
    
    #title{
        position: relative;
        margin: 0 auto;
        height: 45pt;
        text-align: center;
    }
    

    .effects label{
        margin-left: 10pt; 
    }
    
    footer{
        margin-top: 0px;
    }
}

