/*Font Designer: Vernon Adams*/
/*https://fonts.google.com/specimen/Niconne*/
@import 'https://fonts.googleapis.com/css?family=Niconne';

#controls{
    display: inline-block;
    background: #333333;
    width: 20%;
    height: 775px;
    color: #eee;
    padding: 0 1em;
    text-align: left;
    box-shadow: 5px 5px 50px #000;
}

.options {
    font-weight: bold;
    color: #ccffcc;
    margin: 0 auto;
    width: 95%
}

.options ul {
    padding: 0;
}

.options ul li{
    list-style: none;
    padding: .3em;
    border-bottom: 1px #333 solid;
    text-indent: 1em;
}

.options li:hover{
    cursor: pointer;
    background: #555;
    border-radius: 8pt;
    color: mediumpurple;
}

.labels{
    font-weight: bold;
    color: grey;
    display:flex;
    flex-direction: column;
    float: left;
    padding-left: 30px;
    padding-right: 15px;
}

.labels label{
    padding: 10px 0;
}

.effects section{
    display: flex;
}

.effects .sliders{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.slider {
    -webkit-appearance: none;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: #1c1c1c;
    outline: none;
    margin: 16px 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background: #ccffcc;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover{
    background-color: mediumpurple;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.selected{
    background: #555;
    border-radius: 8pt;
}

#title{
    padding-top: 20pt;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15pt;
    height: 60pt;
    text-align: center;
}

#magical{
    font-family: 'Niconne';
    font-size: 40pt;
    letter-spacing: 2px;
    margin-top: 5pt;
    margin-right: 0pt;
    text-indent: -70pt;
}

#visual{
    text-indent: 140pt;
    margin-top: -63pt;
    font-size: 14pt;
}

h4{
    margin-top: 10pt;
    margin-bottom: 0;
    padding-left: 5px;
}

footer{
    margin-top: 0pt;
    color: #555;
    font-size: 12pt;
    margin-top: 80pt;
}


@media screen and (max-width: 1505px){
    
    #controls{
        display: block;
        position: relative;
        margin: 0 auto;
        width: 625pt;
        height: 450pt;
        padding: 0 50px;
    }
    
    #title{
        margin-bottom: 20pt;
    }
    
    #magical{
        padding-top: 10pt;
    }
    
     #visual{
        margin-top: -65pt;
    }
    
    h4{

        margin-top: 15pt;
    }

    .options{
        position: relative;
        margin: 0 auto;
        margin-top: 10pt;
        width: 100%;
    }
    
    .options li{
        position: relative;
        margin: 0 auto;
        padding: 5pt 10pt;
        display: inline;
        margin-right: 10pt;
    }
    
    .modes li{
        width: 10ppt;
    }
    
    .effects{
        position: relative;
        width: 100%;
    }
    
    .sliders{
        margin-left: 32pt;
    }
    
    h5{
        margin-top: 30pt;
        margin-bottom: 0pt;
    }
}

@media screen and (max-width: 950px){
    #controls{
        width: 100%;
        padding: 0;
        padding-bottom: 100pt;
        margin-bottom: 0;
        padding-bottom: 20pt;
    }
    
    canvas{
        width: 100%;
        height: auto;
        position: relative;
        margin: 0 auto;
    }
    
    h4{
        margin-bottom: 0pt;
        margin-left: 10pt;
    }
    
    .options ul li{
        margin-left: -25pt;
    }
    
    .options li{
        display:block;
    }
}

@media screen and (max-width: 480px){
    #controls{
        margin-bottom: 0pt;
        box-shadow: none;
        height: 600px;
    }
    #magical{
        padding-top: 5pt;
        font-size: 26pt;
    }
    
     #visual{
        font-size: 12pt;
        text-indent: 90pt;
        margin-top: -45pt;
    }
    
    #title{
        position: relative;
        margin: 0 auto;
        margin-bottom: -5pt;
        height: 45pt;
        text-align: center;
    }
    
    .rowOne, .rowTwo{
        float: none;
        width: 100%;
    }
    
    .options{
        position: relative;
        margin: 0 auto;
        width: 95%;
    }
    
    .options li{
        margin-left: -5pt; 
    }
    
    .modes, .songs, .effects{
        position: relative;
        margin: 0 auto;
        width: 100%;
        border-style: none;
    }
    
    .songs, .modes{
        margin-bottom: 20pt;
        padding: 0;
    }
    
    .effects label{
        margin-left: 22pt; 
    }  
}

